[Unit]
Description=Detect Squashfs and I/O errors
After=systemd-journald.target

[Service]
Type=simple
ExecStart=python3 /usr/bin/tails-detect-squashfs-errors.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
