#columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

#columns > div {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

#columns h3 {
  height: 3em;
}

#columns > p {
  display: none;
}

#columns img {
  display: block;
  margin: 0 auto 2em;
}

#columns .button {
  background: var(--yellow) url(../../lib/go-down.png) no-repeat right 8px center !important;
  box-shadow: 1px 1px 1px var(--medium-dark-gray), 2px 2px 10px var(--light-gray), inset 2px 2px 2px var(--background-yellow);
  text-align: center;
}

/* You must always use this together with .button */
#columns .button-revealed {
  background: var(--yellow) url(../../lib/go-up.png) no-repeat right 8px center !important;
}

#columns .button a {
  color: black;
  border-bottom: none !important;
  cursor: pointer;
}

#detailed-identity, #detailed-computer, #detailed-tor {
  display: none;
}

@media (min-width: 986px) {
  #columns {
    justify-content: space-between;
  }
}

.standalone {
  display: none;
}

.embedded {
  display: block;
}
